@font-face {
    font-family: 'ShabnamFD';
    src: url('ShabnamFD/ShabnamFD-Light.woff2') format('woff2'),
         url('ShabnamFD/ShabnamFD-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ShabnamFD';
    src: url('ShabnamFD/ShabnamFD-Medium.woff2') format('woff2'),
         url('ShabnamFD/ShabnamFD-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ShabnamFD';
    src: url('ShabnamFD/ShabnamFD-Bold.woff2') format('woff2'),
         url('ShabnamFD/ShabnamFD-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}